In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime as dt
import re
import snscrape.modules.twitter as sntwitter
from ipywidgets import interact, widgets

# get data based on input

In [2]:
'''
query = widgets.Text(
 placeholder=â€™Enter your stock tockerâ€™,
 description=â€™stock:â€™
 )
display(txtsl)
'''

query = "#NIFTY"
print(query)

#NIFTY

In [3]:
#Get user input
#query = input("Query: ")
query = "#NIFTY"
print(query)

#As long as the query is valid (not empty or equal to '#')...
if query != '':
    noOfTweet = 100. #input("Enter the number of tweets you want to Analyze: ")
    if noOfTweet != '' :
        noOfDays = 2 # input("Enter the number of days you want to Scrape Twitter for: ")
        if noOfDays != '':
                #Creating list to append tweet data
                tweets_list = []
                now = dt.date.today()
                now = now.strftime('%Y-%m-%d')
                yesterday = dt.date.today() - dt.timedelta(days = int(noOfDays))
                yesterday = yesterday.strftime('%Y-%m-%d')
                for i,tweet in enumerate(sntwitter.TwitterSearchScraper(query + ' lang:en since:' +  yesterday + ' until:' + now + ' -filter:links -filter:replies').get_items()):
                    if i > int(noOfTweet):
                        break
                    tweets_list.append([tweet.date, tweet.id, tweet.content, tweet.username])

                #Creating a dataframe from the tweets list above 
                df = pd.DataFrame(tweets_list, columns=['Datetime', 'Tweet Id', 'Text', 'Username'])

                print(df)

#NIFTY
                     Datetime             Tweet Id  \
0   2021-07-20 22:03:45+00:00  1417606180130672648
1   2021-07-20 20:09:51+00:00  1417577514625495040
2   2021-07-20 18:44:22+00:00  1417556001251729411
3   2021-07-20 18:37:24+00:00  1417554250154930178
4   2021-07-20 18:29:17+00:00  1417552205402415105
..                        ...                  ...
96  2021-07-20 09:47:08+00:00  1417420803755237377
97  2021-07-20 09:46:28+00:00  1417420633416224771
98  2021-07-20 09:46:03+00:00  1417420531070955523
99  2021-07-20 09:45:20+00:00  1417420349210169348
100 2021-07-20 09:42:09+00:00  1417419547724767234

                                                  Text         Username
0    #18, 20-07-2021\n\n#GUJGASLTD 710 CE\n\nLogic:...  Optionbuyer6041
1    #Nifty levels for #Thursday\n15550-15575 is a ...     NiftyMaestro
2    So many people were sitting in the sideline wi...      Mr_amateure
3    Three weekly lows : 15659.1, 15641.05, 15657.....     _rathihitesh
4    #nifty stamping on crash n climbing the the la...  Balakri91581451
..                                                 ...              ...
96   #nifty50 trading with Loss of  122 points....0...  BusinessNewsPo1
97   Buy 1 CURMON #NIFTY contracts at 15646.75, Sel...   NiftyAnalytics
98   âœ¨Keep holding Long with Trailing SL's.\n\nðŸ˜‡Not...    option_square
99   Tata Motors \n\nBlock of 590,543 shares at 303...   BigBreakingNow
100  #NIFTY a close below 15640 is week .\n#StockMa...       Nitinse333

[101 rows x 4 columns]