In [1]:
import pandas as pd
import numpy as np
import nltk
from nltk.corpus import twitter_samples

In [2]:
nltk.download('twitter_samples')
nltk.download('stopwords')

[nltk_data] Downloading package twitter_samples to
[nltk_data]     /Users/ldoddi/nltk_data...
[nltk_data]   Package twitter_samples is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/ldoddi/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [3]:
cols = ['sentiment','id','date','query_string','user','text']
df = pd.read_csv("../data/raw/training.csv",header=None, names=cols)
df.head()

,sentiment,id,date,query_string,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [4]:
#dropping missed values
df.dropna(inplace=True)

In [5]:
df['sentiment'] = df['sentiment'].map({0:0,4:1})

In [6]:
df = df.drop(['id', 'date', 'query_string', 'user'], axis=1)

In [7]:
df.head()

   sentiment                                               text
0          0  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1          0  is upset that he can't update his Facebook by ...
2          0  @Kenichan I dived many times for the ball. Man...
3          0    my whole body feels itchy and like its on fire
4          0  @nationwideclass no, it's not behaving at all....

In [11]:
df = df.sample(1000000)

In [12]:
#excluding the neutrals_tweets
pos_neg_tweets = df[(df["sentiment"] == 0) | (df.sentiment == 1)]
pos_neg_tweets.shape

(1000000, 2)

In [13]:
#pos_neg_tweets.groupby("sentiment").sum()

In [14]:
df.to_csv("../data/processed/sentiment_label_data.csv")